<!DOCTYPE html>
<html>
  <head>
    <title>time series subsequence clustering web</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <style>
      [v-cloak] { display: none; }
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
